<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/png" href="/public/favicon/mob.png" />
        <title>MOB</title>
        <link href="/public/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/public/css/get_boostrap_docs.css" rel="stylesheet" />
        <script src="/public/js/lazysizes.min.js" async></script>
        <script src="/public/js/bootstrap.bundle.min.js"></script>
    </head>
    <body class="p-2 border-0">
        <div class="container">
            <div class="row g-4">
                <% data.forEach(function(item, index) { %>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="card">
                        <h6 class="card-header fw-bold"><%= item.name %></h6>
                        <div class="card-body">
                            <div id="carouselAction<%= item.id %>" class="carousel slide">
                                <div class="carousel-inner">
                                    <% item.images.forEach(function(file, i) { %>
                                    <div class="carousel-item<%= i === 0 ? ' active' : '' %>">
                                        <% if (i === 0) { %>
                                        <img src="<%= file.url %>" class="img-thumbnail" alt="responsive" />
                                        <% } else { %>
                                        <img
                                            data-src="<%= file.url %>"
                                            class="img-thumbnail lazyload"
                                            alt="responsive"
                                        />
                                        <% } %>
                                    </div>
                                    <% }); %>
                                </div>
                                <button
                                    class="carousel-control-prev"
                                    type="button"
                                    data-bs-target="#carouselAction<%= item.id %>"
                                    data-bs-slide="prev"
                                >
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button
                                    class="carousel-control-next"
                                    type="button"
                                    data-bs-target="#carouselAction<%= item.id %>"
                                    data-bs-slide="next"
                                >
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                            <table class="table table-striped mt-2">
                                <thead>
                                    <tr>
                                        <th scope="col">Size</th>
                                        <th scope="col">Stock</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">S</th>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">M</th>
                                        <td>20</td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- <div class="alert alert-info text-center" role="alert"><%= item.price %></div> -->
                        </div>

                        <div class="card-footer d-flex justify-content-between align-items-center">
                            <div><%= item.price %></div>

                            <a href="<%= item.productUrl %>" class="btn btn-primary w-50">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="16"
                                    height="16"
                                    fill="currentColor"
                                    class="bi bi-basket"
                                    viewBox="0 0 16 16"
                                >
                                    <path
                                        d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9zM1 7v1h14V7zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5"
                                    />
                                </svg>
                                Buy
                            </a>
                        </div>
                    </div>
                </div>
                <% }); %>

                <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-lg justify-content-center">
                        <% if (previous_button) { %>
                        <li class="page-item" id="previous-button">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">Previous</span>
                            </a>
                        </li>
                        <% } %>

                        <li class="page-item" id="next-button">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const previousButton = document.getElementById('previous-button');
                const nextButton = document.getElementById('next-button');

                if (previousButton) {
                    previousButton.addEventListener('click', function (event) {
                        event.preventDefault();
                        let currentParam = new URLSearchParams(window.location.search).get('item');
                        let newItemValue = currentParam ? parseInt(currentParam) - 6 : 0;
                        let url = window.location.href.split('?')[0] + `?item=${newItemValue}`;
                        window.location.href = url;
                    });
                }

                nextButton.addEventListener('click', function (event) {
                    event.preventDefault();
                    let currentParam = new URLSearchParams(window.location.search).get('item');
                    let newItemValue = currentParam ? parseInt(currentParam) + 6 : 6;
                    let url = window.location.href.split('?')[0] + `?item=${newItemValue}`;
                    window.location.href = url;
                });
            });
        </script>
    </body>
</html>
